.cards{
    height: 380px;
    width: 380px;
    margin-left: 80px;
}

.cards-items{
    background: white;
    display: flex;
    column-gap: 30px;
    margin-bottom: 30px;
}

.cards-item-img{
    width: 380px;
    height: 240px;
}

.cards-item, h5{
    background: white;
    font-style: normal;
    align-content: center;
}

h5{
    margin-bottom: 10px;
}

.btn-view{
    align-self: center;
}

li{
    list-style: none;
}

center{
    background: white;
    padding: 10px;
}