.cards{
    height: 380px;
    width: 380px;
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    margin-left: 50px;
    row-gap: 50px;
}

.cards-items{
    background: white;
}

.cards-item-img{
    width: 380px;
    height: 240px;
}

.cards-item, h5{
    background: white;
    font-style: normal;
    align-content: center;
}

h5{
    margin-bottom: 10px;
}

.btn-view{
    align-self: center;
}

li{
    list-style: none;
}

center{
    background: white;
    padding: 10px;
}

/* .cards{
    display:grid;
    grid-template-columns: auto auto auto;
} */