.btn--primary{
    background: #9E2A2B;
    color: white;
    border: none;
    border-radius: 10px 10px;
}

.btn--primary:hover{
    background: black;
    cursor: pointer;
}

.btn--medium{
    height: 30px;
    width: 60px;
}

.btn--large{
    height: 40px;
    width:80px;
}