form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
}

input , textarea{
    width: 400px;
    border-radius: 5px;
    border: 2px solid #9E2A2B;
}

input{
    height:30px;
}

textarea{
    height: 200px;
}

h1{
    text-align: center;
    margin-top: 30px;
}